:root {
    /* APP COLORS */
    --theme-color: #2B2B32;
    --border-color: #5F5F74;
    --background-item: #24242B;

    /* TEXT COLORS */
    --white: #ffffff;
    --black: #000000;
    --gray-alt: #89899C;
}